<template>
  <div class="submitform">
    <div v-if="!submitted">
      <div class="form-group">
        <label for="name">주문회원</label>
        <input
          type="text"
          class="form-control"
          id="member"
          required
          v-model="order.memberId"
          name="member"
        />
      </div>

      <div class="form-group">
        <label for="city">상품명</label>
        <input
          type="text"
          class="form-control"
          id="item"
          required
          v-model="order_item.itemId"
          name="item"
        />
      </div>

      <div class="form-group">
        <label for="street">주문수량</label>
        <input
          type="number"
          class="form-control"
          id="count"
          required
          v-model="order_item.count"
          name="count"
        />
      </div>
      <button v-on:click="saveProduct" class="btn btn-success">Submit</button>
    </div>

    <div v-else>
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" v-on:click="newCustomer">Add</button>
    </div>
  </div>
</template>

<script>
import http from "../http-order";

export default {
  name: "add-order",
  data() {
    return {
      order: {
        // delivery_id: 0,
        // dormant_status:"",
        memberId: 0,
        // orderDate: 0,
        // status: ""
      },
      order_item: {
          count: 0,
          itemId: 0,
          // order_id: 0,
          // orderPrice: 0,
          // order_item_id: 0
      },
      submitted: false,
    };
  },
  methods: {
    /* eslint-disable no-console */
    saveProduct() {
      var data = {
        memberId: this.order.memberId,
        itemId: this.order_item.itemId,
        count: this.order_item.count
      };

      http
        .post("/api/v2/orders", data)
        .then((response) => {
          // this.order.order_id = response.data.order_id;
          this.order.memberId = response.data.memberId;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });

      this.submitted = true;
    },
    newCustomer() {
      this.submitted = false;
      this.order = {};
    },
    /* eslint-enable no-console */
  },
};
</script>

<style>
.submitform {
  max-width: 300px;
  margin: auto;
}
</style>
