<template>
    <div id="app" class="container-fluid">
        <div class="site-info">
            <h1>Home</h1>
            <h3>Hello Shop</h3>
        </div>
        <nav>
            <!-- 회원 가입 -->
            <router-link class="btn btn-primary" to="/add">회원 가입</router-link>
            <!-- 회원 정보 -->
            <router-link class="btn btn-primary" to="/membersupdate">회원 정보 수정</router-link>
            <br>
            <!-- 상품 목록 -->
            <router-link class="btn btn-primary" to="/itemlist">상품 목록</router-link>
            <!-- 상품 주문 -->
            <router-link class="btn btn-primary" to="/order">상품 주문</router-link>
            <br>
            <!-- 주문 내역 -->
            <router-link class="btn btn-primary" to="/searchorder">주문 내역</router-link>
            <!-- 쿠폰 조회 -->
            <router-link class="btn btn-primary" to="/coupon">쿠폰 조회</router-link>
        </nav>
        <br/>
        <router-view/>
    </div>
</template>

<script>
export default {
  name: "app"
};
</script>

<style>
.site-info {
  color: blue;
  margin-bottom: 20px;
}

.btn-primary {
  margin-right: 5px;
}

.container-fluid {
  text-align: center;
}
</style>
